<p><%= flash[:error] %></p>

<h1>All the Products</h1>

<%= link_to "Add new product", new_product_path(@product) if logged_in? %> |
<%= link_to "See product with most reviews", products_most_reviews_url %>

<% @products.each do |product| %>

    <h2><%= link_to product.name, product_path(product.id) %> - Average Rating: <%= product.average_rating %></h2>
    <h3>Active Ingredient: <%= product.active_ingredient %></h3>
    <h4>Chemical Group: <%= product.chem_group.name %></h4>
    <h4>Application Area: <%= product.application_area.area_name %></h4>
    <!--<%= link_to "Post a review", new_product_review_path(product)%> -->
    <p>Description: <%= product.description %></p>
<% end %>