<p><%= flash[:error] %></p>

<h1>All Reviews</h1>

<%= link_to "Add new review", new_review_path(@review) if logged_in? %>

<ul>
    <% @reviews.each do |review| %>
        <li><%= review.product.name %>: <%= link_to review.title, review_path(review) %> - <%= review.rating %></li>
    <% end %>
</ul>